.imgVazia {
    width: calc(380px);
    height: calc(500px);
    /*border: solid red 2px;*/
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1px;
}

.imagemLeila {
    width: calc(380px);
    height: calc(500px);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

#pp {
    width: 20px;
    color: rgb(44, 42, 42);
    margin: 0;
    font-weight: 450 !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#idleila {
    width: 20px;
    border: solid rgb(54, 1, 1) 2px;
}

.logo {
    width: 34px;
    height: 34px;
    border-radius: 24px;
    margin: 5px;
    padding: 0;
    border: solid 1.5px rgb(224, 17, 138);
    border-left: solid 1.5px  rgb(185, 163, 39);
    border-bottom: solid 1.5px rgb(185, 163, 39) ;
}    