.imgVazia {
    width: calc(380px);
    height: calc(500px);
    /*border: solid red 2px;*/
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1px;
}

.imagemLeila {
    width: calc(380px);
    height: calc(500px);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

#pp {
    width: 20px;
    color: rgb(44, 42, 42);
    margin: 0;
}

#idleila {
    width: 20px;
    border: solid rgb(54, 1, 1) 2px;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    padding: 0;
}