.fotos {
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 100vh;
    display: flex;
   /* border: solid red 2px;*/
    margin: 0px;
    padding-top: px;
    padding-top: 5px;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom:50px;
}

