@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

* {
    margin: 0 auto;
    font-family: 'Righteous', cursive;
    padding: 0;
}
body{
    background-color: #051842;
}
.home {
    /*background-color: rgb(97, 82, 116);*/
    text-align: center;
    background: linear-gradient(68.15deg, #fcf9f9 16.62%, #f0f1f3 85.61%);
    width: 100%;
    height: 93.5vh;
    display: flex;
    flex-direction: column;
    color: #cfd1d6;
    color: #020714  ;

}

.aba {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    background-color: #0d172c;
    align-items: flex-tar;
    margin-left: -60px;
    position: fixed;

}

#gif {
    width: 100px;
    height: 100px;
}

#le {
    width: 100px;
    height: 100px;
    background-color: rgb(131, 49, 49);
}

.borrar {
    text-align: center;
    background: linear-gradient(68.15deg, #051842 16.62%, #020714 85.61%);
    width: 100%;
    height: 93.5vh;
    display: flex;
    flex-direction: column;
    color: #123ba1;
    filter: blur(15px);
    position: fixed;
    z-index: -2;
}

.botao {
    background: linear-gradient(68.15deg, #101b32 16.62%, #141f36 85.61%);
    border: none;
    display: flex;
    gap: 85%;
    border-bottom: 1px solid rgb(191, 191, 204);
    padding: 10px;
    
}

button {
    background: linear-gradient(68.15deg, #101b32 16.62%, #141f36 85.61%);
    border: none;
    padding: 0;
    color: rgb(223, 215, 215)
}

.acessoria {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 90%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#usuario {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    margin-top: 5vh;
}

.link {
    width: 35px;
    margin: 5px 10px -10px 0px;
}

a {
    font-family: 'Sarala', sans-serif;
    border-radius: 30px;
    padding: 7px;
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 15px;
    text-decoration: none;

}

#kwai {
    padding-right: 150px;

    background-color: rgb(221, 94, 20);
}

#instagran {
    text-align: right;
    padding-right: 90px;

    background-color: rgb(219, 40, 144);
}

#tiktok {
    text-align: right;
    padding-right: 135px;

    background-color: rgb(12, 12, 12);
}

#nomeUsuario {
    padding-bottom: 7vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;

}

@media only screen and (max-width:308px) {
    #kwai {
        padding-right: 100px;

        background-color: rgb(221, 94, 20);
    }

    #instagran {
        text-align: right;
        padding-right: 35px;

        background-color: rgb(219, 40, 144);
    }

    #tiktok {
        text-align: right;
        padding-right: 80px;

        background-color: rgb(12, 12, 12);
    }
}